#CMS Config File
*/system/!config.php

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

#PhpStorm crap
.idea/**

#Mac file caches
**.DS_Store

#CMS Related
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
/nbproject/private/
nbproject/private/private.properties
nbproject/project.properties
nbproject/project.xml
