ErrorDocument 404.php

Options +FollowSymLinks
RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]

RewriteRule ^blog/(.+)/(.+)$ article.php?id=$1&title=$2 [QSA]
