.button { display: inline-block; margin-right: 10px; color: #fff; text-transform: uppercase; padding: 8px 15px;
	border-radius: 5px; box-shadow: 0 0 2px 2px #363b41;
	background: #0081b4; /* Old browsers */
	background: -moz-linear-gradient(top,  #0081b4 0%, #006a9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0081b4), color-stop(100%,#006a9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0081b4 0%,#006a9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0081b4 0%,#006a9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0081b4 0%,#006a9b 100%); /* IE10+ */
	background: linear-gradient(top,  #0081b4 0%,#006a9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0081b4', endColorstr='#006a9b',GradientType=0 ); /* IE6-9 */ }
.button:hover { background: #008dc5; }
.button-left { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.button-right { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.ui-button,
.ui-cancel { width: auto; }
.ui-button span,
.ui-cancel span { outline: none; display: inline-block; background-repeat: no-repeat }
.ui-button .button-left,
.ui-button .button-right { overflow:hidden }
.ui-button .button-left,
.ui-button .button-right { overflow:visible }
.ui-button.disabled,
.ui-button.disabled:hover,
.ui-button.disabled.hover { cursor: default; }
.ui-button.processing,
.ui-button.processing:hover,
.ui-button.processing.hover { cursor: progress; }