@font-face {
    font-family: 'ta'; /*a name to be used later*/
    src: url('neuropolitical rg.ttf'); /*URL to font*/
}

/* IMG Hover */

#wot {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#wot img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#wot img.top:hover {
  opacity:0;
}

/* */




/* */

#cata {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cata img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cata img.top:hover {
  opacity:0;
}

#mop {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#mop img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#mop img.top:hover {
  opacity:0;
}

#wod {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#wod img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#wod img.top:hover {
  opacity:0;
}

/* IMG Hover END */

/* */
#cata{
margin-left: 321px;
margin-top: 70px;
}
/* */
/* */
#mop{
margin-right: 137px;
margin-top: -281px;
}
/* */
/* */
#wod{
margin-right: 395px;
margin-top: -281px;
}
/* */

/* Font Settings */

.gradient6 {
	padding: 30px 0 30px 30px;
	margin: 30px 0 50px;
}
.gradient6 h1 {
	font-family: 'ta';
	position: relative;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -2px;
}
.gradient6 h1 span {
	position: absolute;
	bottom: -0.1em;
	display: block;
	width: 100%;
	height: 29px;
}

/* Font Settings END */


/* BG Settings */

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}

/* BG Settings END */