.footer {
	background: #fff;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.footer-bottom {
	background: #fff;
	border-top: 1px solid #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}